.footer{
  outline: none;
  .footer-text{
    .footer-text__center{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .footer-text__h3{
        text-transform: uppercase;
        color: $textColorDark;
        font-family: $font-source;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 200;
        letter-spacing: 4px;
        padding: 75px 0 40px;
      }
      .footer-text__p{
        text-align: center;
        width: 40%;
        font-family: $font-open;
        color: $textColorDark;
        font-weight: 200;
        font-size: 14px;
        line-height: 1.9;
        letter-spacing: 1px;
        padding: 0 0 70px;


      }
    }
  }
  .footer-maps{
    height: 439px;

  }
  .footer-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footer-data__logo{
      padding: 75px 0 0;
    }
    .footer-data__text{
      padding: 25px 0 0;
      font-family: $font-open;
      font-size: 14px;
      color: $textColorDark;
    }
    .footer-data__social{
      padding: 35px 0 70px;
      display: flex;
      justify-content: center;
      align-items:center;
      .fb {
        &:hover {
          opacity:.7;
        }
        .social
        {margin: 5px}

      }
      .tw {
        &:hover {
          opacity:.7;
        }
        .social
        {margin: 5px}

      }
      .lin {
        &:hover {
          opacity:.7;
        }
        .social
        {margin: 5px}

      }
      .ins {
        &:hover {
          opacity:.7;
        }
        .social
        {margin: 5px}

      }
      .vi {
        &:hover {
          opacity:.7;
        }
        .social
        {margin: 5px}

      }



    }

  }
}


